In [4]:
import requests
import pandas as pd
from pprint import pprint
from datetime import datetime
import io
from ..covidRequests import covidDataAcRequest

ValueError: attempted relative import beyond top-level package

In [3]:
request = covidDataAcRequest('https://services-eu1.arcgis.com/2ypUQspLVcN0KOBE/arcgis/rest/services/CoronavirusFallzahlen_öffentlich/FeatureServer/1/query?where=1%3D1&outFields=Kommune,Meldedatum,Positiv,Genesen,Tote,Aktiv,Inzidenz,Creator&outSR=4326&f=json')

NameError: name 'covidDataAcRequest' is not defined

In [60]:
r = requests.get('https://services-eu1.arcgis.com/2ypUQspLVcN0KOBE/arcgis/rest/services/CoronavirusFallzahlen_öffentlich/FeatureServer/1/query?where=1%3D1&outFields=Kommune,Meldedatum,Positiv,Genesen,Tote,Aktiv,Inzidenz,Creator&outSR=4326&f=json')
raw_data = r.json()
raw_data = raw_data['features']

In [61]:
data = {'Aachen':[],
        'Alsdorf':[],
        'Baesweiler':[],
        'Eschweiler':[],
        'Herzogenrath':[],
        'Monschau':[],
        'Roetgen':[],
        'Simmerath':[],
        'Stolberg':[],
        'Würselen':[],
        'Städteregion':[],
        'noch nicht lokal zugeordnet':[]}

In [62]:
# Clean up data set
for item in raw_data:
    single_set = item['attributes']
    location = single_set['Kommune']
    del single_set['Creator']
    del single_set['Kommune']
    single_set['Meldedatum'] = datetime.fromtimestamp(single_set['Meldedatum']//1000)
    data[location].append(single_set)

In [64]:
# Make pandas dataframe
pd.DataFrame(data['Städteregion'])

             Meldedatum  Positiv  Genesen  Tote  Aktiv    Inzidenz
0   2020-03-21 10:05:00      502      NaN     6    496         NaN
1   2020-03-22 10:05:00      524      NaN     8    516         NaN
2   2020-03-23 10:05:00      534      NaN     8    526         NaN
3   2020-03-24 10:05:00      557      NaN     8    549         NaN
4   2020-03-25 10:05:00      632      NaN    10    622         NaN
..                  ...      ...      ...   ...    ...         ...
271 2020-12-17 15:00:00    12592  10773.0   251   1567  185.808203
272 2020-12-18 15:00:00    12810  10784.0   252   1773  186.885352
273 2020-12-19 15:00:00    12979  10951.0   254   1773  187.423926
274 2020-12-20 15:00:00    13089  11044.0   255   1789  200.888289
275 2020-12-21 15:00:00    13144  11221.0   256   1666  200.888289

[276 rows x 6 columns]

In [68]:
CSV_URL = 'https://www.divi.de/joomlatools-files/docman-files/divi-intensivregister-tagesreports-csv/DIVI-Intensivregister_2020-12-28_12-15.csv'

In [79]:
with requests.Session() as session:
    request = session.get(CSV_URL)
    decoded_content = request.content.decode('utf-8')
    divi_data = pd.read_csv(io.StringIO(decoded_content), delimiter=',')

In [80]:
divi_data.head()

,bundesland,gemeindeschluessel,anzahl_meldebereiche,faelle_covid_aktuell,faelle_covid_aktuell_beatmet,anzahl_standorte,betten_frei,betten_belegt,daten_stand
0,1,1001,3,3,0,2,8,33,2020-12-28 12:15:00
1,1,1002,5,8,5,3,50,114,2020-12-28 12:15:00
2,1,1003,2,12,5,2,27,111,2020-12-28 12:15:00
3,1,1004,1,1,0,1,4,21,2020-12-28 12:15:00
4,1,1051,1,4,3,1,5,33,2020-12-28 12:15:00

In [84]:
divi_data['gemeindeschluessel'].where(divi_data['gemeindeschluessel'] == 34002)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
392   NaN
393   NaN
394   NaN
395   NaN
396   NaN
Name: gemeindeschluessel, Length: 397, dtype: float64

In [83]:
print(divi_data['gemeindeschluessel'])

0       1001
1       1002
2       1003
3       1004
4       1051
       ...
392    16073
393    16074
394    16075
395    16076
396    16077
Name: gemeindeschluessel, Length: 397, dtype: int64